<h1 class="text-center mt-4" style="color:#c88995;">Articles</h1>

<%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
<%= render 'article' %>