<div class="container" id="home-container">
  <div class="p-5 mb-4 bg-light rounded-3" id="jumbotron">
    <div class="container-fluid py-5" style="margin: auto; width: 50%;">
      <h1 class="display-5 fw-bold">Hello, World!</h1>
      <p class="col-md-8 fs-4">Welcome to the alpha blog! Sign up and tell me about development :)</p>
      <button class="btn btn-primary btn-lg" id="home-button" type="button">
        <%= link_to 'Sign up!', signup_path, id:"home-button" %>
      </button>
    </div>
  </div>
</div>

