<div class="container" id="home-container">
  <div class="p-5 mb-4 bg-light rounded-3" id="jumbotron">
    <div class="container-fluid py-5" style="margin: auto; width: 50%;">
      <h1 class="display-5 fw-bold">Hello, World!</h1>
      <p class="col-md-8 fs-4">This is my little blog for learning more about web development. :)</p>
      <button class="btn btn-primary btn-lg" id="home-button" type="button">Read more</button>
    </div>
  </div>
</div>
<%= link_to 'View articles listing', articles_path %> |
<%= link_to 'About page', about_path %>

