@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu-Title.ttf') format('truetype');
}

.navbar{
  background-color: #c88995 !important;
}
.nav-link{
  color:white;
  font-size: 1.4em;
  text-align: center;
}

.nav-link:hover{
  color:#2a6328;
  font-size: 1.5em;
}

.navbar-brand{
  color: white;
  font-size: 1.7em;
  padding-left: 2px;
}

.navbar-brand:hover{
  color: #2a6328;
}

.navbar .navbar-toggler{
  border-color: #e6cacf !important;
}

#home-container{
  margin-top: 20px;
}

#jumbotron{
  background-image: asset-url('popupwindow.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white !important;

  color: #c88995;
}

#home-button{
  background-color:#c88995;
  border-color: #c88995;
  color: white;
  text-decoration: none;
}

#home-button:hover{
  color:#2a6328;
}

#footer-text{
  text-align: center;
  font-weight: bold;
  color: white !important;
  margin: auto;
  width: 50%;
  padding: 6px;

  text-decoration: none;
}

#footer-text:hover{
  text-decoration: underline;
}

.articles-card-div {
  border-color: white;
}

.articles-card-div * {
  text-align: center;
}

.article-header{
  background-color: #c88995;
  color:white;
  border-color: #c88995;
}

.card-body{
  background-color: #e4d7db;
  color: #c88995;
}

.action-button{
  font-size: 1.2em;
}

.action-button:hover{
  border-color: #2a6328;
  background-color: #2a6328;
  border-width: 3px;
}

.delete-button:hover{
  border-color: red !important;
  background-color: red !important;
  border-width: 3px !important;
}

.edit-button:hover{
  border-color: teal !important;
  background-color: teal !important;
  border-width: 3px !important;
}

.article-show-link{
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.article-show-link:hover{
  text-decoration: underline;
  color: #2a6328;
}

.inlineButton {
  display: inline;
}

.form-style{
  background-color: #e4d7db;
}

.dark-pink-text{
  color: #c88995;
  text-decoration: none;
  font-size: 1.3em;
}

.return-link{
  text-align: center;
}

.return-link:hover{
  color: #2a6328;
  text-decoration: underline;
}

.error-messaging{
  color: #cf2141;
}

.nav-link-drop{
  color:#c88995;
}

.dropdown-style{
  background-color: #e4d7db;
  border-color: #c88995;
}

.dropdown-toggle:focus{
  color:#2a6328;
}

.user-show-link{
  color:#c88995;
  text-decoration: none;
}

.user-show-link:hover{
  text-decoration: underline;
  color: #2a6328;
}

body{
  padding-bottom: 100px;
}

* {
  font-family: 'Ubuntu';
}