.navbar{
  background-color: #c88995 !important;
}
.nav-link{
  color:white;
}

.navbar-brand{
  color: white;
  
}

.navbar-brand:hover{
  color: black;
}

.navbar .navbar-toggler{
  border-color: #e6cacf !important;
}

#home-container{
  margin-top: 20px;
}

#jumbotron{
  background-image: asset-url('popupwindow.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white !important;

  color: #c88995;
}

#home-button{
  background-color:#c88995;
  border-color: #c88995;
}

#footer-text{
  text-align: center;
  font-weight: bold;
  color: white !important;
  margin: auto;
  width: 50%;
  padding: 6px;

  text-decoration: none;
}