.navbar{
  background-color: #c88995 !important;
}
.nav-link{
  color:white;
}

.navbar-brand{
  color: white;
  
}

.navbar-brand:hover{
  color: #ECECEC;
}

#home-container{
  margin-top: 20px;
}

#jumbotron{
  background-image: asset-url('popupwindow.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  color: #c88995;
}

#home-button{
  background-color:#c88995;
  border-color: #c88995;
  
}